<html>
<head>
<title>Flask Tutorial</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

    <div class="container">
        <div class="info">
            <img src={{ userData['pic_url'] }} alt="User photo" />
            <div>
                <span>Hello World!</span>

                
                <h2>{{ userData['first_name'] }} {{ userData['last_name'] }}</h2>
                <p>{{ userData['role_name'] }}, {{ userData['company'] }}</p>
            </div>
        </div>
        <div class="response">
            <h4>JSON Response:</h4>
            <a href="https://marketplace.zoom.us/docs/api-reference/zoom-api/users/user" target="_blank">
                API Reference
            </a>
            <table>
               
                {% for k, v in userData.items() %}
                   <tr>
                        <th> {{ k }} </th>
                        <td> {{ v}} </td>
                   </tr>
                {% endfor %}
                </table>
        </div>
    </div>

</body>
</html> 